body{
    background: beige;
}
h1{
    text-align: center;
    background: lightsteelblue;
}
h2{
    text-decoration: underline;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    background: lavender;
    text-align: center;
}
th{
    border: 1px solid black;
    background: lightsteelblue;
    padding: 5px;
}
td{
    border: 1px solid black;
    padding: 5px;
}
.error{
    border: 2px solid red;
    background: red;
}